<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="../lib/jquery.js"></script>    
    <link rel="stylesheet" href="../css/main.css">
    <script src="../lib/cookies.js"></script>        
    
    
    
    <style>
      body{
          background: #fff;
      }  
    </style>
    <script src="../js/search.js">

    </script>
  
</head>
<body>
        <header>
                <a id='logo' href="/"><span >RENT<span class="colorLogo">UA</span>
                </span></a>
                <nav>
                    <ul id='nav'>
                        <li>
                            <a id="btnShow" href="#">Личный кабинет</a>
                        </li>
                    </ul>
                </nav>
            </header>
            <main>
                <div id="filter"></div>
                <div id="cards">
                </div>
            </main>
            <footer></footer>
            <div class='error' style='display:none'></div>                      
</body>
</html>